#us{
    display: flex;
    height: 600px;
}

#person{
    position: relative;
}

#aut{
    background-color:#2F2126;
    height: 450px;
    width: 400px;
    position:absolute;
    left: 100px;
    top: 50px;
    box-shadow: 5px 5px 15px #783009;
    border-radius: 30px;
}

#profile{
    position: absolute;
    height: 200px;
    width: auto;
    border-radius: 30px;
}

#aut #stats{
    text-align: right;
    color: white;
    padding-right: 20px;
    font-size: 20px;
}

#artist{
    font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-decoration:none;
	font-size: 30px;
	color: #E7A967;
	padding-bottom: 5px;
	border-bottom: #FFFFFF 1px dotted;
	height: auto;
	margin-bottom: 5px;
    text-align: right;
    padding-right: 20px;

}
