#charas{
	width: 250px;
	height: auto;
	margin-left: 10px;
}

#charas ul{
	list-style-type: none;
}

#charas li {
	border-bottom: #FFFFFF 2px solid;
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:RGB(120,48,9,0.5);
	transition: 0.3s;
}

#charas ul li a{
	font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-align:center; 
	text-decoration:none;
	color: #2F2126;
	background-color:none;
	padding-left: 15px;
	font-size: 20px;
}

#charas ul li:hover{
	background-color:RGB(120,48,9,0.7);
}

#charas p {
	font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-decoration:none;
	color: #E7A967;
	background-color:#2F2126;
	font-size: 25px;
	letter-spacing: 5px;
	padding-left: 5px;
	border-bottom: #FFFFFF 2px solid;
	padding-top: 5px;
	padding-bottom:5px;
	border-radius: 5px;
}


/*Chara desc.*/
#desc{
	width: 900px;
	height: 700px;
    display: block;
    height: auto;
    background-color:RGB(120,48,9,0.2);
	border-radius: 10px;
}

#desc p{
    width: 100%;
    height: 20px;
}

#topicname{
    display: flex;
    flex-direction: column;
}

/*img*/
#char{
    height: 600px;
    width: auto;
	background-color:rgba(87,117,94,0.2);
    border-radius: 80px;
	border: RGB(120,48,9,0.7) 1px dotted;
    margin-left: 60px;
}

#show{
    display: flex;
}

#stat{
    margin-top: 150px;
	margin-left: 30px;
	background-color:#2F2126;
    height: 300px;
    width: 450px;
	border-radius: 30px;
	box-shadow: 5px 5px 15px #783009;
}

#stat p{
    text-align: center;
	border: none;
}

#stat #personality{
	font-size: 17px;
    color: #bcbcbc;
}

#stat #name{
	font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-decoration:none;
	font-size: 30px;
	color: #E7A967;
	padding-bottom: 5px;
	border-bottom: #FFFFFF 1px dotted;
	height: auto;
	margin-bottom: 5px;

}

