/*FORUM: Topic*/


#topic{
	width: 250px;
	margin-left: 10px;
	height: auto;
}
#topic ul{
	list-style-type: none;
}

#topic li {
	border: #FFFFFF 1px solid;
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:RGB(120,48,9,0.5);
	transition: 0.3s;
}

#topic ul li a{
	font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-align:center; 
	text-decoration:none;
	color: #2F2126;
	background-color:none;
	padding-left: 15px;
	font-size: 20px;
}

#topic ul li:hover{
	background-color:RGB(120,48,9,0.7);
}

#topic p {
	font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-decoration:none;
	color: #E7A967;
	background-color:#2F2126;
	font-size: 25px;
	letter-spacing: 5px;
	padding-left: 5px;
	border-bottom: #FFFFFF 2px solid;
	padding-top: 5px;
	padding-bottom:5px;
	border-radius: 5px;
}


/* Forum */
#group{
	height: 75px;
	margin-top: 5px;
	margin-bottom: -10px;
}

#topicname{
	margin-top: -10px;
	display: flex;
	background-color:#2F2126;
	border-radius: 5px;
}

#topicname p{
	font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-decoration:none;
	color: #E7A967;
	font-size: 25px;
	letter-spacing: 5px;
	padding-left: 20px;
	padding-top: 15px;
	border-radius: 5px;

}

#topicname span{
	padding-top: 5px;
}

#forum{
	width: 900px;
	height: 2000px;
	margin-right: -3px;

}

.topics {
	text-align: center;
}

/* Login */
#login{
	width: 300px;
	max-height: 210px;
	margin-right: 15px;
	background-color:#2F2126;
	border-radius: 30px;
	box-shadow: 5px 5px 15px #783009;
}

#login p{
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 2px;
	text-align: center;
}

form{
	display: flex;
	flex-direction: column;
}

#btn{
	height: 50px;
	font-size: 17px;
	margin-bottom: 10px;
	border-radius: 30px;
	background-color: #57755E;
	border:none;
	color: white;
	opacity: 1;
}


#btn:hover{
	opacity: 0.7;
	transition: 0.4s;
  }

/* Post */

#postlist{
	border: #FFF 1px solid;
    height: 500px;
	overflow-y: auto;
    background-color:RGB(120,48,9,0.2);
	border-radius: 10px;
	margin-top: 10px;
}

/*admin tools*/

#admintool{
	display: flex;
}

#delbtn{
	height: 50px;
	width: 100px;
	font-size: 17px;
	margin-top: 80px;
	margin-left: 20px;
	margin-bottom: 10px;
	border-radius: 30px;
	background-color: #57755E;
	border:none;
	color: white;
	opacity: 1;
}


#delbtn:hover{
	opacity: 0.7;
	transition: 0.4s;
  }



#post{
	background-color:#2F2126;
	border-radius: 30px;
	box-shadow: 5px 5px 15px #783009;
	height: 200px;
	width: 400px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
}

#post #title{
	font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-decoration:none;
	font-size: 25px;
	color: #E7A967;
	padding-bottom: 5px;
	padding-left: 15px;
	border-bottom: #FFFFFF 1px dotted;
	height: auto;
	margin-bottom: 5px;
	width: 300px;
}

#post #content{
	color: white;
	size: 15px;
	padding-left: 15px;
}

#user {
	height: 100px;
}

#text{
	position: relative;
}

#author{
    color: #bcbcbc;
	font-size: 12px;
	padding-left: 15px;
	position: absolute;
	bottom: 0px;
}



