main div#notes{
    display:flex;
    flex-wrap:wrap;
}
main div#notes article{
    margin-top:20px;
    background-color:#2F2126;
    box-shadow: 5px 5px 15px #783009;
    border-radius: 30px;

}

#title{
    font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-decoration:none;
	font-size: 30px;
	color: #E7A967;
	padding-bottom: 5px;
	border-bottom: #FFFFFF 1px dotted;
	height: auto;
	margin-bottom: 5px;
    text-align: center;
    padding-right: 20px;
}

#name{
    text-align: center;
    color: white;
    padding-right: 20px;
    font-size: 20px;
}

#addr{
    margin-top: -10px;
    text-align: center;
    color: #bcbcbc;
    padding-right: 20px;
    font-size: 15px;
}

