#log{
    margin: 0 auto;
    padding-bottom: 45px;
    height:auto;
}

#formlog{
  margin: 0 auto;
  height: auto;
  margin-top: -20px;
  
}

input[type=text] {
    width: 500px;
    padding: 12px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 47px;
  }

  input[type=password] {
    width: 500px;
    padding: 12px 20px;
    margin: 0 auto;
    display: inline-block;
    box-sizing: border-box;
    background-image: url("../images/lock.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px;
    background-position-x: 99%;
    margin-bottom: 20px;
  }

#formlog label{
    margin-left: 30px;
    font-family:'BetterEBGaramondRegular';
    font-style:normal;
    display:block;
    font-weight:bold;
    text-decoration:none;
    font-size: 30px;
    color: #E7A967;
    height: auto;
    margin-bottom: 5px;

}

#logbutton {
  color: white;
  font-size: 20px;
  height: 50px;
	margin-bottom: 10px;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #57755E;
  border-radius: 30px;
  opacity: 1;
}

#logbutton:hover{
  opacity: 0.7;
  transition: 0.4s;
}

#enterlog{
  border: none;
  margin-top: 10px;
  height:auto;
  padding-top: 10px;
  border: 2px solid;
  background-color:#2F2126;
  border-radius: 30px;
  box-shadow: 5px 5px 15px #783009;
}

#top{
  margin-top: 15px;
}



