#log{
    width: 98%;
    padding-bottom: 45px;
    height:auto;
}

#postbox{
  margin: 0 auto;
  height: auto;
  margin-top: -20px;
  width: 700px;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
  }

  
  textarea {
    width: 90%;
    padding: 12px 20px;
    margin: 0 auto;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: vertical;
    height: 400px ;
  }
  

#postbox label{
    margin-left: 30px;
    font-family:'BetterEBGaramondRegular';
    font-style:normal;
    display:block;
    font-weight:bold;
    text-decoration:none;
    font-size: 30px;
    color: #E7A967;
    height: auto;
    margin-bottom: 5px;
    text-align: center;
    width: 90%;

}

#logbutton {
  color: white;
  font-size: 20px;
  height: 50px;
  margin-bottom: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #57755E;
  border-radius: 30px;
  opacity: 1;
}

#logbutton:hover{
  opacity: 0.7;
  transition: 0.4s;
}

#enterlog{
  border: none;
  margin-top: 10px;
  height:auto;
  padding-top: 10px;
  border: 2px solid;
  background-color:#2F2126;
  border-radius: 30px;
  box-shadow: 5px 5px 15px #783009;
}

#top{
  margin-top: 15px;
}



