@charset "UTF-8";

/* Allgemein */

*{
	margin:0;
	padding:0;
	font-family:Verdana, Helvetica, sans-serif;
}

body{
	background-color:#E7A967;
	background: rgb(237,125,101);
	background: linear-gradient(317deg, rgba(237,125,101,1) 4%, rgba(242,175,102,1) 62%, rgba(239,234,163,1) 100%)};

p{
	font-size:14px;
}

/* Header */
header{
	background-color:#2F2126;
	padding-top: 10px;
	padding-bottom: 10px;
}

header p{
	font-family: 'SilverbladeOutlineRegular';
	font-weight: normal;
	font-style: normal;
	line-height:50px;
	font-size:40px;
	text-align:center;
	color:#FFFFFF;
}

img{
	padding: 10px;
	padding-bottom: 30px;
}

/* Navigation */
#mainnav ul{
	list-style-type:none;
}

#mainnav ul li a{
	transition: 0.4s;
}

#mainnav ul li a{
	font-family:'BetterEBGaramondRegular';
    font-style:normal;
	display:block;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	color: #783009;
	background-color:none;
}
	
#mainnav ul li a:hover{
	color:white;
	background-color:rgba(43,33,38,0.5);
}

/* Untermenü */
#mainnav ul li ul{
	display:none;
}

#mainnav ul li:hover > ul{
	display:block;
}

#mainnav ul li ul li a{
	color:white;
	background-color: #57755E;
	opacity: 1;
}

#mainnav ul li ul li a:hover{
	opacity: 0.7;
	transition: 0.4s;
}

#format{
	display: flex;
}




/* Inhalt */
main{
	background-color:rgba(255,255,255,0.5);
}

main h1{
	font-family: 'BellotaRegular';
	font-weight: bold;
	font-style: normal;
	padding-top:20px;
	padding-bottom:20px;
	font-size:32px;
	text-align:center;
	color:#57755E;
}

.title {
	font-family: 'Catamaran', sans-serif;

}

h2{
    font-family: 'cinzel_decorativeregular';
    font-weight: normal;
    font-style: normal;
}

main article h2{
	padding-top:10px;
	font-size:18px;
}

main article p{
	padding-top:10px;
}

.cast {
	text-align: center;
}
	
/* Fusszeile */
footer{
	background-color:#2F2126;
	
}

footer p{
	line-height:40px;
	padding-left:20px;
	color:#E7A967;
	font-size:12px;
	margin-top: 10px;
}
.bottom{
	position: absolute;
	width: 100%;
	min-height: 37px;
	bottom: 0px;
	left: 0;
 }

/* BIG SCREENS */
@media screen and (min-width: 700px){
	
	/* Navigation */
	#mainnav{
		background-color:#E7A967;
		max-width:1200px;
		margin:0 auto;
	}

	#mainnav ul{
		display:flex;
	}
	
	#mainnav ul li{
		position:relative;
		width:300px;
	}
	#mainnav ul li:first-child{
		border-left:none;
	}

	#mainnav ul li:last-child{
		border-right:none;
	}

	#mainnav ul li a{
		line-height:35px;
		font-size:20px;
	}
	
	/* Untermenü */
	#mainnav ul li ul{
		position:absolute;
		width:100%;
	}
	
	#mainnav ul li ul li{
		width: inherit;
		border-top:2px solid #fff;
		border-left:none;
		border-right:none;
	}
	
	#mainnav ul li ul li a{
		line-height:25px;
		font-size:14 px;
	}
	
	/* Inhalt */
	main{
		max-width:1200px;
		margin:0 auto;
	}
	
	main div#lyrics{
		display:flex;
		flex-wrap:wrap;
	}

	main article{
		box-sizing:border-box;
		margin:0 1% 20px;
		width:48%;
		padding:10px;
	}

}

/* SMALL SCREENS */
@media screen and (max-width: 700px){
	
	/* Navigation */
	#mainnav ul li{
		border-top: 1px solid #fff;
	}
	
	#mainnav ul li a{
		line-height:20px;
		font-size:14px;
}

	#mainnav ul li ul li a{
		line-height:17px;
		font-size:12px;
	}
		
	/* Inhalt */
	main{
		padding-left: 5px;
		padding-right: 5px;
	}
	
	main div#lyrics article{
		margin-top: 20px;
		border-top: 1px solid #fff;
	}
	
	img{
		padding: 10px;
		height: 500px;
	}

}
