/* Login */
#login{
	width: 300px;
	height: 210px;
	margin-right: 15px;
	background-color:#2F2126;
	border-radius: 30px;
	box-shadow: 5px 5px 15px #783009;
}

#login p{
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 2px;
	text-align: center;
}

form{
	display: flex;
	flex-direction: column;
    align-items: center;
}

#btn{
	height: 50px;
	font-size: 17px;
	margin-bottom: 10px;
	border-radius: 30px;
	background-color: #57755E;
	border:none;
	color: white;
	opacity: 1;
    width: 80%;
}


#btn:hover{
	opacity: 0.7;
	transition: 0.4s;
  }
